.headerImage {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1686652655595-aeb97ff65577?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80");
    min-height:100svh;
    /* Center and scale the imagee */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* Needed to position the navbar */
    position: relative;
}

.navLinksBttn:hover::before {
  border-bottom: 2px solid black;
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.navLinksBttn::before {
    display: block;
    content: "";
    padding-top: 4px;
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transform-origin: 0 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transition: transform .3s ease-in-out;
}

@media screen and (max-width: 600px) {  
  .logo {
    display: none;
  }
}
@media (min-width: 900px) {
  .css-1yo9slo-MuiToolbar-root {
      min-height: 150px !important;
  }
}

