.landingWrapper {
  height: 100svh;
}

.landingWelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingWelcomeImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}