#swiper-container {
  display: flex;
  justify-content: center;
  width: 600px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  display: flex;
  max-height: 400px;
  width: 100%;
}

.swiper-container .swiper-pagination {
  opacity: 0; /* initially hide pagination */
  transition: opacity 0.3s ease-in-out; /* smooth transition effect */
}

.swiper-container:hover .swiper-pagination {
  opacity: 1; /* show pagination on hover */
}