#swiper-container {
  display: flex;
  justify-content: center;
  width: 600px;
}

.ShowcaseWrapper {
  display: flex;
  justify-content: center;
}

.ShowcaseSection {
  padding: 10svh 0svh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 400px; 
  padding: 0;
  margin: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ShowDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.ShowImages {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.swiper-container .swiper-pagination {
  opacity: 0; /* initially hide pagination */
  transition: opacity 0.3s ease-in-out; /* smooth transition effect */
}

.swiper-container:hover .swiper-pagination {
  opacity: 1; /* show pagination on hover */
}

@media screen and (max-width: 800px) {
  .ShowcaseSection {
    padding: 30px;
  }
  .ShowDetails {
    margin: 30px;
  }
  .ShowImages {
    margin: 30px;
  }
}
