@import url("./theme.scss");

:root {
  --primary-color: var(--palette-primary-main);
  --secondary-color: var(--palette-secondary-main);
  --tertiary-color: var(--palette-tertiary-main);
  --accents-color: var(--palette-accents-main);
  --text-color: var(--palette-text-primary);
  --background-color: var(--palette-background-default);
}

.ProjectButton {
  border-radius: 0
}

.ProjectButton.lightTheme:hover {
  border: 2px solid $primary-color;
  background-color: $secondary-color;
}
