.swiper {
  margin: 100px auto;
  width: 700px;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
