#projectPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10svh 5svh;
}

#WIPContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 10svh;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}
