#projectPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10svh 20svh
}

.Title {
  width: 100%;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid;
}

.Subtitle {
  width: 100%;
  text-align: center;
  font-weight: lighter;
  /* border-bottom: 1px solid; */
}

#WIPContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 10svh;
  width: fit-content;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

@media (max-width: 1200px) {
  #projectPageContainer {
    margin: 10svh 5svh;
  }
}

@media (max-width: 900px) {
  #WIPContainer {
    margin: 5svh 0svh;
  }
}

@media (max-width: 500px) {
  #projectPageContainer {
    margin: 5svh 1svh;
  }
}


