.resumeContainer {
  margin: 10svh 0svh;
}

#downloadContainer {
  display: flex;
  flex-direction: column;
}

#educationContainer {
  display: flex;
  flex-direction: column;
}

#qualificationContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#workContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}