.landingWrapper {
  height: 100svh;
}

.landingWelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingWelcomeImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {  
  .landingWrapper {
    height: 120svh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {  
  .landingWelcomeImage {
    display: none;
  }

  .landingWrapper {
    height: 40svh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
