/* ----------- */
/* Light Theme */
/* ----------- */
:root {
    --light-primary-main: #F3EDE2;
    --light-primary-light: #FFFDEB;
    --light-primary-dark: #DCD1C1;

    --light-secondary-main: #96D9D9;
    --light-secondary-light: #c3e8e9;
    --light-secondary-dark: #3BA5A5;
  
    --light-tertiary-main: #83781B;
    --light-tertiary-light: #D9CA45;
    --light-tertiary-dark: #776D18;

    --light-accents-main: #F1A208;
    --light-accents-light: #F9C762;
    --light-accents-dark: #C68606;

    --light-text-primary: #020812;
    --light-text-secondary: #C68606;
}
/* ---------- */
/* Dark Theme */
/* ---------- */
:root {
    --dark-primary-main: #041025;
    --dark-primary-light: #082049;
    --dark-primary-dark: #020812;

    --dark-secondary-main: #5AC4C4;
    --dark-secondary-light: #87D4D4;
    --dark-secondary-dark: #18565f;
  
    --dark-tertiary-main: #84A98C;
    --dark-tertiary-light: #9FBCA5;
    --dark-tertiary-dark: #64906E;

    --dark-accents-main: #E07A5F;
    --dark-accents-light: #F79C82;
    --dark-accents-dark: #BC4524;

    --dark-text-primary: #fff;
    --dark-text-secondary: #F3EDE2;
}