@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


html,
body,
#root,
.app {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  font-family:"Montserrat, sans-serif";

}

/* Color Palette #1 */

/* 
  1. #C4BDAA
  2. #515B3A
  3. #353D2F
  4. #984447
  5. #476C9B
*/