/* .headerImage {
    //The image used
    background-image: url("https://images.unsplash.com/photo-1686652655595-aeb97ff65577?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80");
    min-height:100svh;
    //Center and scale the image
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    //Needed to position the navbar
    position: relative;
} */

#back-to-top-anchor {
  display: flex;
  align-items: center; 
  height: 80px; 
  background-color: #0000;
  position: static;
}

#toggleThemeContainer {
  height: 60px;
  width: 60px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLinksButton:hover::before {
  border-bottom: 2px solid black;
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.navLinksButton::before {
    display: block;
    content: "";
    padding-top: 4px;
    transform: scaleX(0);
    transform-origin: 0 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transition: transform .3s ease-in-out;
}

