.cardContainer {
  border-left: 1px solid;
  padding: 0 0 20px 20px;
  position: relative;
}

.cardContainer::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  left: -8px;
  top: 10px;
  /* background-color: ; */
  border: 2px solid;
}