:root {
  --border-color: #020812; /* Default light theme color */
  --circle-color: #020812; /* Default light theme color */
}

/* Dark Theme Colors */
[data-theme="dark"] {
  --border-color: #fff; /* Dark theme color */
  --circle-color: #fff; /* Dark theme color */
}

.cardContainer {
  border-left: 1px solid var(--border-color);
  padding: 0 0 20px 20px;
  position: relative;
}

.cardContainer::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  left: -8px;
  top: 10px;
  border: 2px solid;
  background-color: var(--circle-color);
}