#stackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#resumeDownload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 600px;
}

.iconButton {
  max-width: 50px;
  max-height: 50px; 
  border-radius: 0;
  position: absolute;
  z-index: 1;
}

.iconButton:hover {
  border-radius: 0;
}

#downloadIcon {
  font-size: 48px;
}

@media (width < 700px) {
  #resumeDownload {
    height: 200px;
    width: auto;
  }
}

@media (width < 400px) {
  #resumeDownload {
    height: 100px;
  }
  #downloadIcon {
    font-size: 28px;
  }
}

