#stackContainer {
  display: flex;
  justify-content: center;
}

#resumeDownload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
}

.iconButton {
  max-width: 50px;
  max-height: 50px; 
  border-radius: 0;
}

.iconButton:hover {
  border-radius: 0;
}

#downloadIcon {
  font-size: 48px;
}